			<!-- Page Wrapper -->
			<div class="page-wrapper">
				<div class="content container-fluid">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2">
                        
                            <!-- Page Header -->
                            <div class="page-header">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3 class="page-title">Add Post</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- /Page Header -->
                            
                            <div class="card">
                                <div class="card-body">
                                    <div class="bank-inner-details">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label>Title<span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" placeholder="All the Lorem Ipsum generators on the Internet">
                                                </div>
                                            </div>
											<div class="col-lg-12 col-md-12">
												<div class="form-group modal-select-box">
													<label>Category</label>
													<select class="form-select">
														<option>Expenses</option>
														<option>Sales</option>
														<option>Profit-loss</option>`
													</select>
												</div>
											</div>
											<div class="col-lg-12 col-md-12">
												<div class="form-group">
													<label>Tag</label>
													<tag-input [(ngModel)]='tag' class="form-control tags-service" placeholder="Enter Tag"></tag-input>
												</div>
											</div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label>Blog Image</label>
                                                    <div class="change-photo-btn">
                                                        <div>
                                                        <p>Add Image</p></div>
                                                        <input type="file" class="upload">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                   <ckeditor [config]="{placeholder: 'Type the content here'}" [editor]="Editor"></ckeditor>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" blog-categories-btn pt-0">
                                    <div class="bank-details-btn ">
                                        <a [routerLink]="'/blog/all-blogs'" class="btn btn-primary me-2">Add Post</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
			</div>
			<!-- /Page Wrapper -->