<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Registros de Inquilinos</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/index'">Dashboard</a></li>
            <li class="breadcrumb-item active">Registros de Inquilinos</li>
          </ul>
        </div>
        <div class="col-auto">
          <a [routerLink]="'/inquilinos/add-inquilinos'" class="btn btn-primary me-2">
            <i class="fas fa-plus"></i>
          </a>
          <a
            class="btn btn-primary filter-btn"
            href="javascript:void(0);"
            (click)="filter()"
            id="filter_search"
          >
            <i class="fas fa-filter"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div id="filter_inputs" class="card filter-card">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table
              datatable
                class="table table-stripped table-hover"
              >
                <thead class="thead-light">
                  <tr>
                    <th>N°</th>
                    <th>Inquilino</th>
                    <th>Email</th>
                    <th>Edad</th>
                    <th>Sexo</th>
                    <th>Status</th>
                    <th>Registrado</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of inquilino; let i = index">
                    <td>{{i + 1}}</td>
                    <td>
                      <h2 class="table-avatar">
                        <a href="#" class="avatar avatar-sm me-2">
                          <img class="avatar-img rounded-circle"
                            src="assets/img/profiles/{{row.foto}}"
                            alt="User Image"/>
                        </a>
                        <a href="#" >{{row.nombre}} {{row.apellidos}}<span>{{row.celular}}</span></a>
                      </h2>
                    </td>
                    <td>{{row.email}}</td>
                    <td>{{row.edad}}</td>
                    <td>{{row.sexo}}</td>
                    <td>
                      <span *ngIf="row.estado === '1'" class="badge badge-pill bg-success-light">Activo</span>
                      <span *ngIf="row.estado === '0'" class="badge badge-pill bg-danger-light">Inactivo</span>
                    </td>
                    <td>{{row.registrado}}</td>
                    <td class="text-center">
                      <a class="btn btn-sm btn-white text-success me-2" ><i class="far fa-edit me-1"></i></a>
                      <button type="button" class="btn btn-sm btn-white text-danger me-2" (click)="deleteInquilino(row.id,row.nombre)"><i class="far fa-trash-alt me-1"></i></button>
                    </td>
                  </tr>
                </tbody>



              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
<!-- Delete Tax Modal -->
<div class="modal custom-modal fade" id="delete_customer" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
          <i class="fas fa-trash-alt text-danger"></i>
        </div>
        <div class="modal-text text-center">
          <h2>Delete Customer</h2>
          <p>Are you sure want to delete?</p>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deleteCustomer()"
          data-bs-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Tax Modal -->
